@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;

}

main{
    background-color: #000;
    color: #fff;
    opacity: 80%;
}

.header-top {
    height: 30px;
    background-color: black;
    display: flex;
    justify-content: right;
    width: 100%;
    position: fixed;
    z-index: 2000;
}

.tarja {
    height: 30px;
    width: 10%;
    background-color: red;
    margin-right: 30px;
    display: flex;
    justify-content: space-evenly
}

.grau0 {
    background-color: #fff;
    height: 30px;
    width: 7px;
}

.grau {
    background-color: #fff;
    height: 30px;
    width: 7px;

}

.grau2 {
    background-color: #fff;
    height: 30px;
    width: 7px;
    margin-right: 50px;
}





header {
    height: 90px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1000;
    position: fixed;
    background-color: black;
    width: 100%;
    margin-top: 30px;
    opacity: 80%;
}


header:hover {
    height: 130px;
    transition: all 0.4s ease-in-out;


}


nav {
    width: 100%;
    margin-left: 80px;
}

ul {
    display: flex;
    width: 50%;
    justify-content: space-between;
    justify-content: right;
    margin-left: 600px;
}



li {
    list-style: none;
    color: white;
    cursor: pointer;
    font-size: 22px;
    transition: .5s;
    font-family: 'kdam thmor pro', sans-serif;
    margin-left: 100px;
}

li:hover {
    color: #D21617;

}

#logo {
    width: 90px;
    height: auto;
    float: left;
    margin-left: 100px;
}


.parallax-container {
    position: relative;
    height: 800px;
    overflow: hidden;
    color: white;
}

.parallax-bg {
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.content01 {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}


#home .parallax-bg {
    background-image: url('./img/equipe.jpg');
}

#sobre{
    font-family: 'Open Sans', sans-serif;
}

.content02{
    width: 50%;
    height: 600px;
    position: relative;
    padding: 20px;
    text-align: center;
    border-radius: 30px;
    border: solid 3px red;
    left: 10%;
}

#imagem-tela{
    height: 400px;
    width: 400px;
    position: relative;
    left: 70%;
    top: -600px;
    

}